<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>게시물 목록</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>게시판</h1>
    <a href="/write">📝 새 글 쓰기</a>

    <ul id="postList"></ul>

    <script>
      fetch("/api/v1/posts")
        .then((res) => res.json())
        .then((data) => {
          const list = document.getElementById("postList");
          data.parsedBoards.forEach((parsedBoards) => {
            const li = document.createElement("li");
            li.innerText = `
            ${parsedBoards.id} ${parsedBoards.title} ${parsedBoards.date}
            `;
            list.appendChild(li);
          });
        })
        .catch((err) => {
          console.log(`불러오기 실패 ㅠㅠ : ${err}`);
        });
    </script>
  </body>
</html>
